@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


body {
  margin: auto;
  padding: 1em;
  max-width: 64em;
  font-family: 'JetBrains Mono', monospace;

  color: #fb5;
  background: #111;
  word-wrap: break-word;
}
h2 {
	background: #2b2419;
    padding: 1vh;
}
a {
  text-decoration: none;
  color: #f70;
  font-weight: bold;
  padding-right: 0.25em;
}
a:hover {
  color: #f20;
}
hr {
  border-color: #fb5;
}
.text-center {
  display: inline;
}
.contribute-button {
  background: #56472e63;
  padding: 0.5rem;
}

h1 {
  text-transform: uppercase;
  color: #fb5;
  font-family: monospace;
}

.coin {
  height: 10rem;
  border-radius: 100%;
}

.coin-info {
  padding: 0.5rem;
	background: #56472e63;
  margin: 0rem 0rem 0rem 1rem;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.current-price { 
  grid-area: 1 / 1 / 2 / 2; 
  display: grid;
  place-content: center;
}
.prediction-price { 
  grid-area: 1 / 2 / 2 / 3; 
  display: grid;
  place-content: center;
}
.risk-level { 
  grid-area: 2 / 1 / 3 / 2; 
  display: grid;
  place-content: center;
}
.prediction-duration { 
  grid-area: 2 / 2 / 3 / 3; 
  display: grid;
  place-content: center;
}

.coincontainer {
	margin-bottom: 1rem;
	display: grid;
  grid-template-columns: 0fr 1fr;
}

.coin-info-desc {
  width: 21vh;
  opacity: 0.7;
}

.coin-info-text{
  font-size: 2rem;
}

.contribution {
	margin: 0.5rem 0rem;
	padding-block-start: 0.5em;
    padding-block-end: 0.5em;
    padding-inline-start: 40px;
	padding-inline-end: 25px;
	border: 1px solid;
}

.contributor {
	display: flex;
	justify-content: flex-end;

}

.grid {
  border-collapse: collapse;
}
.col {
  border: 6px double #fb5;
  padding: 1em;
  z-index: 4;

}

.image {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.big {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.glow {
  position: relative;
  text-shadow: 0 0 7px rgb(255, 119, 0), 0 0 9px rgb(255, 119, 0),
    0 0 20px rgb(255, 119, 0);
  z-index: -1;
}

.fatglow {
  color: rgb(255, 225, 143);
  text-shadow: 0 0 10px rgb(255, 119, 0), 0 0 20px rgb(255, 119, 0),
    0 0 30px rgb(255, 119, 0), 0 0 40px rgb(255, 119, 0),
    0 0 50px rgb(255, 119, 0), 0 0 60px rgb(255, 119, 0);
}

.user-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}
.user-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 10em;
}
.user-list::after {
  content: "";
}

/* Accordion */

.accordion {
  background: #2b2419;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  color: #fb5;
  word-wrap: break-word;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #613d05;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/* THEGOODS */
#fancyboi::before {
  content: "$ ";
}
@media (prefers-reduced-motion: no-preference) {
  @keyframes flash {
    50% {
      opacity: 0;
    }
  }
  @keyframes reveal {
    from {
      width: 2em;
    } /* Width of ::before */
    to {
      width: 100%;
    }
  }
  #fancyboi {
    overflow: hidden;
    white-space: nowrap;
    animation: reveal 4s linear;
    text-overflow: "█";
  }
  #fancyboi::after {
    content: "█";
    animation: flash 0.5s step-end infinite;
  }
}
/* SDOOGEHT */

.sourceCode {
  color: #d74b9c;
}

code > span.fl {
  color: #d74b9c;
}

/* Page content */
.content {
  padding-top: 5px;
}

/* Mobile */
@media (max-width: 768px) {
  td {
    display: block;
  }
  .imageDirect {
    width: 100%;
  }
  .big {
    font-size: 5vh;
  }
  .image {
    margin-top: 0rem;
  }
  .current-price, .prediction-price, .risk-level, .prediction-duration  { 
    place-content: normal;
  }
  .coin-info-desc {
    width: auto;
  }
}

@media (max-width: 620px) {
  .yeed {
    display: none;
  }
  .big {
    font-size: 3vh;
  }
  .coincontainer {
    grid-template-columns: 0fr;
    display: block;
  }
  .coin {
    margin-bottom: 1rem;
  }
  .coin-info {
    margin: 0;
  }
  .coin-info-text {
    font-size: 1.5rem;
  }
  .current-price, .prediction-price, .risk-level, .prediction-duration  { 
    place-content: normal;
  }
  .coin-info-desc {
    min-width: max-content;
  }
  .col {
    padding: 0.5em;
    z-index: 4;
  }
  .contribution {
    padding-inline-start: 12px;
    padding-inline-end: 12px;
  }
  .contributor {
    display: inherit;
  }
  .crt-effects {
    z-index: -1;
  }
}

@media (min-width: 472px) {
  .crt-effects {
    z-index: -1;
  }
}


@media (max-width: 435px) {
  .coin-info-desc {
    min-width: auto;
}
}

@media (min-width: 64em) {
  .row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .col {
    flex-grow: 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #fb5;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}

::selection {
  color: #000;
  background: #ff8700;
}

.mask {
  display: block;
  pointer-events: none;
  z-index: 9000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 100px 50px rgba(255, 135, 0, 0.15);
}

.crt-effects {
  background-size: cover;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: -64px;
  right: 0;
  overflow: hidden;
}

.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.35);
  opacity: 1;
  animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.35) 51%
  );
  background-size: 100% 4px;
  animation: scanlines 420ms steps(60) infinite;
}
.scanlines:before,
.scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 0.5rem;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #6f542a;
}
